@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

$font-body:"Roboto" , sans-serif;

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: $font-body;

}

a:link,
a:visited {
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

.longbutton {
    color: white;
    font-weight: 300px;
}

header {
    height: 200px;
    padding: 50px;
}


#login{
    width: 100px;
    height: 50px;
    background-color: white;
    border-radius: 6px;
    border-color: #394166;
    border-width: 2px;
    font-size: 18px;
    color: #394166;
    float: right;
    
}

#login-link:link {
    color: #394166;
    padding: 10px;
}

main {
    text-align: center;
}

h1, h2, h3{
        padding: 25px;
}

h1 {
    font-size: 40px;
    font-weight: 400px;
}

h1, h3 {
    color:#1AB9F1;
  }

h2, p {
    color:#394166;
    padding: 10px;
}

h2, h3 {
    font-size: 25px;
}

.intro {
    font-size: 20px;
    padding-bottom: 30px;
}

.button {
    width: 250px;
    height: 50px;
    border-radius: 6px;
    border-width: 2px;
    font-size: 18px;
    background-color: #394166;
    text-align: center;
}

h4 {
    text-align: center;
    padding: 80px 0 0 0;
    font-size: 25px;
    font-weight: 400px;
    color: #394166;
}

.positives {
    display: inline-flex;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
}

.activity {
    font-size: 26px;
    text-align: left;
}

img {
    width: 33%;
}

 .bold {
    font-weight: bold;
}

.italic {
    font-syle: italic;
}

.signup {
    padding: 40px;
}

footer {
    padding: 20px;
    background-color: #FFFACD;
    text-align: center;
}

ul{
    list-style-type: none;
    background-color: #FFFACD;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    background-color: #FFFACD;
}
